<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/lib/myCss.css">
    <script src="../../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/lib/jquery3.6.0.js"></script>
    <script src="../../static/lib/login.js"></script>
</head>
<body class="bg-n">
<div id="alert" role="alert">
</div>
<!--<div class="bg-white">-->
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
        <a href="home.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
           <img class="size_icon" src="../../static/img/driver_icon.webp" alt="icon">
           <img src="../../static/img/name_logo01.png" alt="logo">
        </a>

<!--        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">-->
<!--            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>-->
<!--            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>-->
<!--            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>-->
<!--            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>-->
<!--            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>-->
<!--        </ul>-->

        <div class="col-md-3 text-end">
            <button type="button" id="btn-jump-login" class="btn btn-outline-primary me-2">登录</button>
            <button type="button" id="btn-jump-register" class="btn btn-primary">注册</button>
        </div>
    </header>
</div>
<div class="container ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item active" data-bs-interval="1500">
                <img src="../../static/img/car1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
                <img src="../../static/img/car2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
                <img src="../../static/img/car3.jpg" class="d-block w-100 size1296" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div id="about" class="container mt-20 d-flex flex-wrap flex-column align-items-center justify-content-center" >
    <h1 class="display-3">我们的目标</h1>
    <img src="../../static/img/title.png" alt="...">
    <p class="ft-20">
        提供一个科学、简约、便捷的驾校预约管理平台，实现用户信息管理、教练信息管理、约车信息管理等功能，整体提高信息办理速度，使驾校信息管理更加完善。
    </p>
</div>
<div class="container mt-20 d-flex flex-wrap flex-column align-items-center justify-content-center" >
    <h1 class="display-3">关于我们</h1>
    <img src="../../static/img/title.png" alt="...">
    <p class="ft-20">
        顺通预约系统是一个具有高可用性，高人性化的驾校预约管理系统，助力学员快速拿证，快速学车。
        辅助教练快速准确指导，定制化训练。
        一：推崇“高” 以通过率高为保证  二：推崇“快” 以拿证时间最快为前提  三：推崇“优” 以专业、品质、服务为优，让学员放心学车，亲情学车。
        您的满意是我们最大的成就。
    </p>
</div>
<div class="container text-start start-0">
    <p class="ft-20">
        企业文化：
    </p>
    <p class="ft-20">
        ●企业使命：为了学员满意，为了股东利益，为了社会和谐。
    </p>
    <p class="ft-20">
        ●企业精神：团结、务实、敬业、高效
    </p>
    <p class="ft-20">
        ●经营理念：诚信、服务、共赢、发展
    </p>
    <p class="ft-20">
        ●经营战略：以信誉求生存，以服务求发展。
    </p>
    <p  class="ft-20">
        ●管理目标：管理规范、设施先进、技术精湛、服务一流
    </p>
    <p class="ft-20">
        ●服务宗旨：诚信廉洁、学员至上
    </p>
    <p class="ft-20">
        ●工作准则：责任、热情、勤奋、守信
    </p>
</div>
<div class="wp">
    <div class="g-tit1">
        <h3 class="display-3">驾校风采</h3>
        <em class="display-6">Driving style</em><br>
        <img src="../../static/img/title.png" alt="...">
    </div>
    <div class="input-group">
    <ul class="ul-list1 d-block w-100 text-start">
        <li><img class="size282184 me-3" src="../../static/img/d1.jpg" alt="">
        <li><img class="size282184 me-3" src="../../static/img/d2.jpg" alt="">
        <li><img class="size282184 me-3" src="../../static/img/d3.jpg" alt="">
        <li><img class="size282184 me-3" src="../../static/img/d4.jpg" alt="">
    </ul>
    </div>
</div>

<div class=" box-shad">
    <div class="container">
        <footer class="py-3 ft-26">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3 text-white">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">网站首页</a></li>
                <li class="nav-item"><a href="#about" class="nav-link px-2 text-white">关于我们</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">在线留言</a></li>
            </ul>
            <p class="text-center text-white">© 2023 Personal Web,宏达驾考</p>
        </footer>
    </div>
</div>

<!--</div>-->
<!--<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">-->
<!--    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">-->
<!--        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>-->
<!--        <span class="fs-5 fw-semibold">Collapsible</span>-->
<!--    </a>-->
<!--    <ul class="list-unstyled ps-0">-->
<!--        <li class="mb-1">-->
<!--            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">-->
<!--                Home-->
<!--            </button>-->
<!--            <div class="collapse show" id="home-collapse">-->
<!--                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="mb-1">-->
<!--            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">-->
<!--                Dashboard-->
<!--            </button>-->
<!--            <div class="collapse" id="dashboard-collapse" style="">-->
<!--                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="mb-1">-->
<!--            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">-->
<!--                Orders-->
<!--            </button>-->
<!--            <div class="collapse" id="orders-collapse" style="">-->
<!--                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="border-top my-3"></li>-->
<!--        <li class="mb-1">-->
<!--            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">-->
<!--                Account-->
<!--            </button>-->
<!--            <div class="collapse" id="account-collapse" style="">-->
<!--                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>-->
<!--                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <footer class="py-3 my-4">-->
<!--        <ul class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>-->
<!--        </ul>-->
<!--        <p class="text-center text-muted">© 2023 Personal Web, 宏达驾考</p>-->
<!--    </footer>-->
<!--</div>-->
</body>
</html>

